<header id="top" class="fixed-top bg-white shadow-sm">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <img src="/assets/img/logo.png" class="header-logo" alt="Athena Africa Partners">
      </div>
    </div>
  </div>
</header>

<main>
  <div style="background: linear-gradient(to bottom, white 0%, white 50%, #eaf1fd 50%, #eaf1fd 100%);;
">
    <div class="container rounded banner scale-up-center" appScrollAnimation animationClass="scale-up-center-visible">
      <div class="row align-items-center text-white mx-auto">
        <div class="col-lg-10 col-md-12 content-left">
          <h1 class="banner-title fw-normal ">
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">A boutique
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">investment
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">bank,
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">serving
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation
              animationClass="scale-in-ver-bottom-visible">entrepreneurship </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">and
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">innovation
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">in
              Africa.</span>
          </h1>
          <a href="#provide" class="btn mt-3 discover" style="background: #ffffff; padding: 15px 35px;"
            appScrollAnimation animationClass="slide-in-bottom-visible">Discover
            More</a>
        </div>
      </div>
    </div>
    <div style="background-color: #eaf1fd; height: 100px; position: absolute; bottom: 0;"></div>
  </div>



  <div style="
  background: linear-gradient(180deg, #eaf1fd 50%, rgba(255,255,255,1) 100%);
  margin-bottom: 100px;
">
    <div>
      <div class="container" id="provide" style="padding: 60p 0x;">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 mx-auto">
            <h2 class="text-center advisory "
              style="color: #09088f;margin: 100px 0 60px 0; line-height: 44px;font-weight: 450;">
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">We </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">provide </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">a </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">wide </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">array </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">of </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">top-notch </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">advisory </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">services </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">for </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">fast-growing </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">and </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">tomorrow's </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">leading </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">African </span>
              <span class="scale-in-ver-bottom-title" appScrollAnimation
                animationClass="scale-in-ver-bottom-title-visible">companies</span>
            </h2>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card h-100 position-relative overflow-hidden card-animate" appScrollAnimation
              animationClass="card-animate-visible" animationDelay="0s">
              <div class="card-img-container">
                <img src="assets/img/strategicadvisory.jpeg" alt="Strategic advisory" class="card-img-top">
              </div>
              <img src="/assets/img/settings.svg" class="icon-title" height="34" width="34" alt="">
              <h3 class="card-title fw-normal">Strategic <br /> advisory</h3>
              <div class="card-overlay">
                <p>We offer meaningful and tailored advice to align strategic decision making with corporate goals and
                  KPIs.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card h-100 position-relative overflow-hidden card-animate" appScrollAnimation
              animationClass="card-animate-visible" animationDelay="0.2s">
              <div class="card-img-container">
                <img src="assets/img/ma.jpeg" alt="Mergers & Acquisitions" class="card-img-top">
              </div>
              <img src="/assets/img/tower.svg" class="icon-title" height="34" width="34" alt="">
              <h3 class="card-title fw-normal">Mergers <br /> & Acquisitions</h3>
              <div class="card-overlay">
                <p>We aim to take due diligence to the next level, helping you acquire optimal value and return from
                  your transaction.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card h-100 position-relative overflow-hidden card-animate" appScrollAnimation
              animationClass="card-animate-visible" animationDelay="0.4s">
              <div class="card-img-container">
                <img src="assets/img/expertise-1.jpeg" alt="Debt & Capital raising" class="card-img-top">
              </div>
              <img src="/assets/img/price.svg" class="icon-title" height="34" width="34" alt="">
              <h3 class="card-title fw-normal">Debt <br /> & Capital Raising</h3>
              <div class="card-overlay">
                <p>We understand each client's underlying economic drivers, current capital structure and long-term
                  goals to better fund their growth.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card h-100 position-relative overflow-hidden card-animate" appScrollAnimation
              animationClass="card-animate-visible" animationDelay="0.6s">
              <div class="card-img-container">
                <img src="assets/img/DevInternational.jpeg" alt="International expansion" class="card-img-top">
              </div>
              <img src="/assets/img/world.svg" class="icon-title" height="34" width="34" alt="">
              <h3 class="card-title fw-normal">International <br /> expansion</h3>
              <div class="card-overlay">
                <p>We provide customized market entry models and advisory services to help you reach new growth
                  opportunities abroad.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="newhorizon" style="padding: 60px 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 position-relative">
          <div class="cascade-images">
            <img src="/assets/img/growth-1.jpeg" alt="Image 1"
              class="img-fluid shadow rounded cascade-image image-1 image-2-1">
            <img src="/assets/img/moon.jpg" alt="Image 2"
              class="img-fluid shadow rounded cascade-image image-2 image-2-2">
          </div>
        </div>
        <div class=" col-lg-5 col-md-12 col-sm-12">
          <div style="margin-bottom: 2rem;" class="scale-in-ver-bottom-title" appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible">
            <div class="rounded-circle shadow-sm" style="background: #09088f; padding: 21px; width: 66px;">
              <img src="/assets/img/graph.svg" alt="">
            </div>
          </div>
          <h2 class="title-block">
            <span class="scale-in-ver-bottom-title " appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible"> Giving</span>
            <span class="scale-in-ver-bottom-title " appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible"> growth</span>
            <span class="scale-in-ver-bottom-title " appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible"> a</span><br />
            <span class="scale-in-ver-bottom-title " appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible"> new</span>
            <span class="scale-in-ver-bottom-title " appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible"> horizon </span>
          </h2>
          <div class="my-4" appScrollAnimation animationClass="slide-in-bottom-visible">
            <p class="mb-4 fw-medium fs-34 ">The strong growth potential of the North and Sub-Saharan
              African emerging
              economies has clearly been identified by global financial institutions, investors and funds.</p>
            <p class="mb-4 fw-medium fs-34">
              The private sector remains an unparalleled engine for job creation and economic and social progress, as
              well
              as for the capture and development of know-how in each country of the continent. It is therefore necessary
              to prepare and assist these private sector companies to receive the necessary investments and achieve the
              expected objectives.</p>
            <br>
            <p class="fw-medium fs-34 mb-4">This is where we come in.
            </p>
            <a href="#range" class="text-decoration-none arrow-link-blue alegreya">Learn how</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="range" style="padding: 80px 0; ">
    <div style="margin-bottom: 2rem;" class="scale-in-ver-bottom-title" appScrollAnimation
      animationClass="scale-in-ver-bottom-title-visible">
      <div class="rounded-circle shadow-sm" style="background: #94065d; padding: 21px; width: 66px;">
        <img src="/assets/img/files.svg" alt="">
      </div>
    </div>
    <div class="row" style="display: flex; align-items: start;">
      <div class=" col-lg-5 col-md-12 col-sm-12 ">

        <h2 class="title-block"><span class="scale-in-ver-bottom-title" appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible">A </span>
          <span class="scale-in-ver-bottom-title" appScrollAnimation animationClass="scale-in-ver-bottom-title-visible">
            range</span>
          <span class="scale-in-ver-bottom-title " appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible"> of</span>
          <span class="scale-in-ver-bottom-title " appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible"> expertises</span><br />
          <span class="scale-in-ver-bottom-title " appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible"> tailored</span>
          <span class="scale-in-ver-bottom-title " appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible"> for </span>
          <span class="scale-in-ver-bottom-title " appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible"> leading </span>
          <span class="scale-in-ver-bottom-title " appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible">and </span>
          <span class="scale-in-ver-bottom-title " appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible"> fast </span>
          <span class="scale-in-ver-bottom-title " appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible">growing</span>
          <span class="scale-in-ver-bottom-title " appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible"> players</span>
        </h2>
        <div class="my-4" appScrollAnimation animationClass="slide-in-bottom-visible">
          <p class="mb-4 fw-medium fs-34">At Athena Africa Partners, we operate at the crossroads of interests between
            institutional
            and
            private,
            national and international investors on the one hand, and entrepreneurs in the Maghreb, Sub-Saharan Africa
            and Europe on the other hand.</p>
          <p class="mb-4 fw-medium fs-34">
            We offer analysis, financial engineering and strategic consulting services that address the needs of all
            these stakeholders in order to enable them to face all their strategic and growth issues with efficiency
            and
            accuracy.</p>
          <br>
          <p class="fw-medium fs-34 mb-4">But we’re not just investment bankers, we’re partners in success.
          </p>
          <a class="text-decoration-none arrow-link-pink alegreya" href="#challenges">Learn how</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 position-relative">
        <div class="cascade-images">
          <img src="/assets/img/expertise4.jpeg" alt="Image 1" class="img-fluid shadow rounded cascade-image image-1">
          <img src="/assets/img/Business-10-1.jpeg" alt="Image 2"
            class="img-fluid shadow rounded cascade-image image-2">
        </div>
      </div>
    </div>
  </div>

  <div style="background: linear-gradient(90deg, #fff0ed 0%, #ffffff 100%);min-height: 80vh;">
    <div class="container" id="challenges" style="padding: 100px 0;">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column">
          <div style="margin-bottom: 2rem;" class="scale-in-ver-bottom-title" appScrollAnimation
            animationClass="scale-in-ver-bottom-title-visible">
            <div class="rounded-circle shadow-md" style="background: #ffffff; padding: 21px; width: 66px;">
              <img src="/assets/img/people.svg" alt="">
            </div>
          </div>
          <h2 class="title-block">
            <span class="scale-in-ver-bottom-title" appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible">We </span>
            <span class="scale-in-ver-bottom-title" appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible"> take</span>
            <span class="scale-in-ver-bottom-title" appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible"> your</span>
            <span class="scale-in-ver-bottom-title" appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible"> challenges</span><br />
            <span class="scale-in-ver-bottom-title" appScrollAnimation
              animationClass="scale-in-ver-bottom-title-visible"> personally</span>
          </h2>
          <div class="text-block my-4" appScrollAnimation animationClass="slide-in-bottom-visible">
            <p class="mb-0 fw-medium fs-34">Based in Casablanca, Athena Africa Partners has also representative offices
              in Abidjan,
              Dubai
              and Paris allowing us to be as close as possible to our clients’ issues.</p>
            <p class="mb-4 fw-medium fs-34">
              Our experts team unfolds a combined experience of decades of successful careers as financiers,
              entrepreneurs, engineers, developers and change leaders. That makes us a unique entrepreneurial,
              innovative and independent investment bank.
            </p>
            <p class="mb-5 fw-medium fs-34">And our commitment goes to one place only: our clients’ interests.</p>
          </div>
          <a class="text-decoration-none arrow-link alegreya" href="#email">Let's
            talk</a>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 position-relative">
          <div class="overlapping-images">
            <img src="/assets/img/agreement.jpeg" alt="Image 1" class="image-3-1 shadow rounded">
            <img src="/assets/img/challenge2.jpeg" alt="Image 2" class="image-3-2 shadow rounded">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="email-container" id="email">
    <div class="container rounded d-flex justify-content-center align-items-center in-touch-container scale-up-center"
      appScrollAnimation animationClass="scale-up-center-visible" style="height: 100%; 
            background: linear-gradient(90deg, rgba(227,104,88,0.8) 38%, rgba(109,130,216,0.8) 100%), 
                        url('/assets/img/header-scaled.jpg'); 
            background-size: cover; 
            background-position: center;">
      <div class="row text-white text-center">
        <div class="col-12 col-md-12">
          <h1 class="in-touch-title" style="margin-bottom: 4rem;">
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">If </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">you're
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">not
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">afraid
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">of </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">being
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation
              animationClass="scale-in-ver-bottom-visible">challenged, </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">we </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">(have)
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">are
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation animationClass="scale-in-ver-bottom-visible">the
            </span>
            <span class="scale-in-ver-bottom" appScrollAnimation
              animationClass="scale-in-ver-bottom-visible">solution.</span>
          </h1>
          <a class="btn mt-3 fw-medium hover:text-black bg-white discover"
            href="mailto:Ali.kettani@affineoadvisors.com,m.yondo@affineoadvisors.com"
            style="padding: 19px 49px; font-size: 18px; margin-top: 2rem;" appScrollAnimation
            animationClass="slide-in-bottom-visible">Get
            in touch</a>
        </div>
      </div>
    </div>
  </div>

</main>